<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="YouTube Automation Suite">
    <test name="Functional Testing">
        <classes>
            <class name="demo.TestCases">
                <methods>
                    <include name="testOn_YouTube_About" />
                    <include name="testOn_YouTube_Films" />
                    <include name="testOn_YouTube_Music" />
                    <include name="testOn_YouTube_News" />   
                    <include name="testOn_YouTube_ExcelSheetCount" />                 
                    
                </methods>
            </class>
        </classes>    
    </test>
</suite>